@model List<BodyDataViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BodyDatas</h1>
    <table class="table"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>HeartBeat</th>
                <th>Heat</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var bodyData in Model)
            {
                <tr>
                    <td>@bodyData.id</td>
                    <td>@bodyData.heartBeat</td>
                    <td>@bodyData.heat</td>
                </tr>
            }
        </tbody>
    </table>
</div>
